[Unit]
Description=hivemind census
ConditionHost=vampires

[Service]
Type=oneshot
ExecStart=/home/a/au/autolab/status/backend/run_census > /dev/null
TimeoutSec=5m
